<div class="footer">
    <h3 class="footer-text">
      ANGULAR ПРОСТОЕ ПРИЛОЖЕНИЕ О ПОГОДЕ
    </h3>
</div>
<div class="main-block">
  <div class="main-block_cities">
    <h2>
      Выберите город
    </h2>
    <p-listbox [options]="cities" [(ngModel)]="selectedCity" (ngModelChange)="fetchInfoAboutCity()" optionLabel="name"></p-listbox>
  </div>
  <div class="main-block_selected-city">
      <div *ngIf="selectedCity">
        <h1>
          {{selectedCity['name']}}
        </h1>
        <p class="info-text">Текущая температура: {{selectedCity.main.temp}}</p>
        <p class="info-text">Самая высокая температура: {{selectedCity.main.temp_max}}</p>
        <p class="info-text">Самая низкая температура: {{selectedCity.main.temp_min}}</p>
        <p class="info-text">Скорость ветра: {{selectedCity.wind.speed}} миль/час</p>
      </div>
      <h1 *ngIf="!selectedCity">
        Ожидание выбора
      </h1>
  </div>
</div>
<div id="overlay" [ngStyle]="{'display' :  loadDataInProcess ? 'block' : 'none' }">
    <span class="spinner-span-block" *ngIf="loadDataInProcess">
        <mat-spinner [color]="'warn'"></mat-spinner>
    </span>
  <span *ngIf="loadDataInProcess">
        <div class="submit-message">
            Пожалуйста, подождите...
        </div>
    </span>
</div>
